body{
  background:#f4f4f4;
}

.navbar{
  min-height: : 33px !important;
  margin-bottom: 0;
  border-radius: 0;
}

.navbar-nav > 1i > a, .navbar-brand{
  padding-top: 6px !important;
  padding-bottom: 0 !important;
  height: 33px;
}

/*begin of color changer*/

.navbar-default {
  background-color: #346edf;
  border-color: #63aaec;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #63aaec;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #63aaec;
}
.navbar-default .navbar-toggle {
  border-color: #63aaec;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #63aaec;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}

/*custom featuers */

.main-color-bg{
     background-color: #346edf !important;
     border-color: #63aaec !important;
     color: #ffffff !important;
}

.centerb {
 display: inline-block;
}

/*header*/

#header{
  background: #333333;
  color:#ffffff;
  padding-bottom: 10px;
  margin-bottom: 15px;

}

#header .create{
  padding-top: 20px;
}

.breadcrumb {
  background: #cccccc;
  color: #333333;
}

.breadcrumb a{
  color: #333333;
}

.dash-box{
  text-align: center;

}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #63aaec;
  }
}


/*End of color changer*/
